
@{
    ViewData["Title"] = "项目创建及数据库";
}

<h2>项目创建及基础建设</h2>
<div>
    通过本文你可以创建基于docker的dotnetcore webapi项目，并且完成与数据库的基本连接。
</div>
<div>
    <h3>开发环境准备</h3>
    <ol>
        <li>
            visual studio 2017，最新版本下载地址：
            <i>
                <a target="_blank" href="https://www.visualstudio.com/downloads">https://www.visualstudio.com/downloads</a>
            </i>
        </li>
        <li>
            dotnet core，本文使用的是2.1.200版，查看本机版本可以使用命令<code>dotnet --info</code>。最新版本下载地址：
            <i>
                <a target="_blank" href="https://www.microsoft.com/net/learn/get-started/windows">https://www.microsoft.com/net/learn/get-started/windows</a>

            </i>
        </li>
        <li>
            windows docker，
            <i>
                关于docker安装请参考 <a href="https://docs.docker.com/docker-for-windows/install/" target="_blank">Install Docker for Windows</a> 及
                <a href="https://docs.microsoft.com/en-us/dotnet/core/docker/intro-net-docker" target="_blank">Introduction to .NET and Docker</a>
            </i>
        </li>
        <li>
            git client & github账号，
            <i>
                本项目GIT地址：<a target="_blank" href="https://github.com/bigken/Gadget">https://github.com/bigken/Gadget</a>
            </i>
        </li>
    </ol>
</div>
<div>
    <h3>创建gadget.webapi项目</h3>
    <h3>创建gadget.data项目</h3>
    <h3>docker compose</h3>
</div>



