@model Gadget.IService.Models.AuthorModel

@{
    ViewData["Title"] = "Test";
}

<div class="row">
    @{
        if (Model != null)
        {
            <div class="col-lg-1">@(Model.AuthorId)</div>
            <div class="col-lg-1">@(Model.AuthorName)</div>
            <div class="col-lg-1"><img src="@(Model.AvatarUrl)" /></div>
            <div class="col-lg-1">@(Model.Email)</div>
        }
        else
        {
            <div class="alert-danger">No Data</div>
        }
    }
</div>