@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    foreach (KeyValuePair<string, HtmlString> pair in ViewData["GadgetToolDic"] as Dictionary<string, HtmlString>)
    {
        <a href="../home/run?tool=@(pair.Key)">@(pair.Key)</a><br/>
    }
}